@tailwind base;
@tailwind components;
@tailwind utilities;

/* Paste CSS custom dari globals.css Next.js kamu di bawah sini */
/* TAPI JANGAN sertakan baris @import apapun di bagian atas! */
/* Contoh: */
:root {
  --foreground-rgb: 0, 0, 0;
  /* ... dst */
}